.categorys-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 7rem 0;
}

.categorys-content {
  width: 90%;
}

.categorys-img-content {
  width: 100%;
}
.categorys-img-content img {
  min-width: 10rem;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.category-blk-line {
  content: '';
  display: flex;
  width: 100%;
  margin: 2rem 0;
  height: 2px;
  background-color: currentColor;
  order: 0;
  flex-grow: 1;
}
/* ---------------CakeIntro--------------- */

#categorys-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#categorys-text h1 {
  font-weight: bold;
  font-size: 4rem;
}

/* ---------------ALLCATEGORY-------------- */
.categorys-all-container {
  display: flex;
  flex-wrap: wrap;
}

.categorys-all-content img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.categorys-all-content h6 {
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 576px) {
  .row {
    margin-left: 0 !important;
  }

  .categorys-all-content img {
    min-width: 8rem;
    height: 180px;
    object-fit: cover;
    margin: 0.5rem;
  }
}

/* ---------------FILTERCATEGORIES-------------- */

.filterCategories-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 10vh;
}

.dropdown,
.dropdown-menu,
.dropdown-toggles {
  background-color: black;
}

/* ----------LINK----------- */

.categorys-all-content a {
  color: inherit; /* Changes the link color to the color of the parent element */
  text-decoration: none; /* Removes the underline */
}

.categorys-all-content a:hover {
  color: inherit; /* Keeps the link color the same even when hovered */
  text-decoration: none; /* Keeps the underline removed even when hovered */
}

/* -----------DROPDOWN-------------- */

.dropdown-menu.show {
  top: 100% !important;
  bottom: auto !important;
  transform: translateY(5px) !important;
}
