.navbar {
  display: flex;
  position: relative;
  background-color: rgb(245, 245, 245);
  height: 5rem;
}

#logo {
  position: absolute;
  width: 10rem;
  top: 0;
}

.navbar a {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.nav {
  display: flex;
  gap: 40px;
}

.login-register {
  display: flex;
  position: absolute;
  right: 5rem;
}

.headers-offcanvas {
  display: flex;
  flex-direction: column;
}
.headers-offcanvas a {
  color: black;
  font-weight: bold;
}
